ul{
  background-color: #35924A;
  width: 150px;
  padding: 0;
  color: #fff;
  float: left;
  margin-left:30px;
}
li{
  list-style: none;
}
ul ul{
  height: 0;
  padding: 0;
  overflow: hidden;
  transition: .5s;
  border-top: 1px solid #67a863;
  background-color: #5EAA6C;
  margin:0;
}
ul li li{
  border-bottom: 1px dotted #7FBF8B;
  padding: 10px 0 10px 10px;
  margin-left:15px;
}
ul:nth-of-type(1) li.active li:last-child{
  border-bottom:1px solid #67a863; 
}
button{
  position: relative;
  border: none;
  width: 100%;
  background-color: inherit;
  color: #fff;
  cursor: pointer;
  text-align: left;
  padding: 15px 0 15px 20px;
  font-size:1em;
}
button:hover{
  background-color: #1A5B27;
}
button::before,
button::after{
  content:"";
  position: absolute;
  top: 20px;
  width: 1.5px;
  height: 8px;
  background-color: #fff;
  transition: .5s;
}
button::before{
  transform: rotate(-45deg);
  right: 35px;
}
button::after{
  transform: rotate(45deg);
  right: 30px;
}
li.active button::before{
  transform: rotate(-135deg);
  transition:.5s;
}
li.active button::after{
  transform: rotate(135deg);
  transition:.5s;
}
ul:nth-of-type(2){ background-color: #357D87; }
ul:nth-of-type(2) ul{ background-color: #519FA5; border-top: 1px solid #5D9FA8; }
ul:nth-of-type(2) button:hover{ background-color: #1C4B56; }
ul:nth-of-type(2) li li{ border-bottom: 1px dotted #73BEBF; }
ul:nth-of-type(2) li.active li:last-child{ border-bottom:1px solid #5D9FA8; }
ul.active{ overflow-y: auto; }