.slide{
  &__item {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1100px;
  & a {
    font-size: 1rem;
  }
  }

  &__navi {
    max-width: 530px;
    padding: 20px;
    background-color: $cWhite;

    &-li {
      display: flex;
      justify-content: center;
      & a {
        width: 100px;
      }
    }
  }

  &__right-navi {
    max-width: 530px;
  }
}

.medical-search__navi {
  display: flex;
  width: 100vw;
  height: 200px;

  &-item {
    width: 25vw;

    &:nth-child(1) {
      @include ms-navi-li-color(1);
    }
    &:nth-child(2) {
      @include ms-navi-li-color(1);
    }
    &:nth-child(3) {
      @include ms-navi-li-color(1);
    }
    &:nth-child(4) {
      @include ms-navi-li-color(1);
    }
    &:nth-child(5) {
      @include ms-navi-li-color(2);
    }

  }

  &-body {
    flex-direction: column;
    width: 100%;
  }
  &-img {
    width: 100%;
  }
  &-title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.4rem;
  }
  &-sub-title {
    font-size: 1rem;
  }

  &-ul {
    flex-wrap: wrap;
    justify-content:space-between;
    margin: 0 auto;
    width: 80%;
  }

  &-li {
    width: 100%;
    margin-bottom: 10px;

    &.harf {
      width: calc(50% - 5px) !important;
    }
  }

}


