button {
	background: none;
	border: none;
	outline: none !important;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.footer {
  // display: none;
  width: 100%;
  height: auto;
  // overflow: hidden;
  
  &__navi {
    width: 100%;
    
  }
  &__navi-ul {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
  }
  &__navi-li {
    padding :10px 0;
    text-align: center;
    width: 50%;
    color: $cBlue;
    border-bottom: 1px solid $cGray;
    border-right: 1px solid $cGray;

    &:nth-child(1), &:nth-child(2) {
      border-top: 1px solid $cGray;
    }
    
    &:nth-child(2n + 1) {
      border-left: 1px solid $cGray;
    }
  }



  &__site-map {

    &.active {

    }

    &-btn {
      position: relative;
      width: 100%;
      padding: 10px 0;
      background-color: blue;
      color: $cWhite;
      font-size: 1.2rem;
      text-align: center;

      &-sp {
        content: "";
        position: absolute;
        width: 1.3rem;
        height: 1px;
        background-color: $cWhite;
        transition: all .3s;

        &:nth-child(1) {
          top: 33%; 
          left: 19%;
        }

        &:nth-child(2) {
          top:50%;
          left: 19%;
        }

        &:nth-child(3) {
          top: 66%;
          left: 19%;
        }
      }

      &.active {
        .footer__site-map-btn-sp {
          &:nth-child(1) {
            top: 50%; 
            left: 19%;
            transform: rotate(45deg);
          }
  
          &:nth-child(2) {
            top: 50%;
            left: 19%;
            opacity: 0;
          }
  
          &:nth-child(3) {
            top: 50%;
            left: 19%;
            transform: rotate(135deg);
          }
        }
        .footer__site-map-ul {
        }
      }

    }

    &-container {
      padding: 0 10px;
      width: 100%;
    }
    &-ul {
  
    }

    &-item {

      &-title {
      width: 100%;
      position: relative;
      padding: 10px 0 10px 1.3rem;
      font-size: 1.2rem;
      font-weight: bold;
      text-align: left;
      color: $cBlue;
      border-bottom: 1px solid $cGray;
      cursor: pointer;

      &:hover {
        color: $cPink;
        &.link {
          &::after{
            @include circleChevronIcon($cPink);
          }
        }

        &::before {
          background-color: $cPink;
        }
      }
      
      &.link {
        &::after{
          top: 50%;
          right: 0;
          transform: translate(-50%,-50%);
          @include circleChevronIcon($cBlue);
        }
      }
  
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 0;
        width: .8rem;
        height: .8rem;
        transform: translate(0%, -50%);
        background-color: $cAqua;
      }
    }
  
    &-icon {
      display: inline-block;
      position: absolute;
      top: 50%;
      right: 0;
      transform: translate(-50%,-50%);
      display: block;
      width: 1rem;
      height: 1rem;
  
      &::after {
        content: "";
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(50%,-1px);
        width: 100%;
        height: 2px;
        background-color: $cGray;
      }
      &::before {
        content: "";
        position: absolute;
        top: 50%;
        right: 50%;
        transform: translate(1px,-50%);
        width: 2px;
        height: 100%;
        background-color: $cGray;
        transform-origin: 50% 50%;
        transition: .3s;
      }
  
      &.active {
        &::before {
          opacity: 0;
          transform: translateY(-50%) rotate(90deg);
          transition: .3s;
        }
      }
  
  
    }

    }
    &-item-ul {
      width: 100%;
      height: 0;
      overflow: hidden;
    }
    &-item-li {
      position: relative;
      width: 100%;
      padding: 10px 0 10px 10px;
      border-bottom: 1px solid $cGray;

      & a {
        display: flex;
        justify-content: space-between;
        padding: 0 10px;
        width:100%;
        color: $cBlue;

        .footer__site-map-icon {
          position: relative;
          display: inline-block;
          width: 1rem;
          height: 1rem;
          &::after {
            @include circleChevronIcon($cBlue)
          }
        }
      }
      
      &:hover {
        & > a {
          color: $cPink;
          .footer__site-map-icon{
           &::after {
             @include circleChevronIcon($cPink)
            }
          }
        }
      }
    }
  }
}