.introduction {
  &__container{
    width: 100%;
    background-color: rgb(238, 248, 254);
    &-title{
      padding: 20px 0 20px 10px;
      font-size: 1.5rem;
      color: $cBlue;
    }
  }

  &__ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  &__li {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    width: 45%;
    height: 85px;
    background-color: $cWhite;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease;
    
    
    &:hover {
      transform: translate(1px, 1px);
      &::after {
        opacity: 0;
      }

      .introduction__li-icon {
        background-color: $cPink;
      }
    }
    
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: transparent;
      border-radius: 20px;
      box-shadow: 2px 2px 3px $cGray;
      transition:  hover 0.3s ease;
    }

    & a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }
    
    &-text {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 55px;
      color: $cBlack;
      font-size: 1rem;
    }
    &-icon {
      position: relative;
      display: block;
      width: 100%;
      height: 25px;
      background-color: $cAqua;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      transition: all .3s;
      &::after {
        @include arrowIcon($cWhite);
        top: 0;
        left: 50%;
        transform: translate(-50%, 0%);
      }
    }
  }
}