@mixin iconsStyle ($imgPath) {
    .slide-container__li-icon {
      width: 100%;
      height: 75px;
      display: block;
      background-image: url($imgPath);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }
}