@mixin iconsStyle ($imgPath) {
    .slide__navi-li-icon {
      display: block;
      background-image: url($imgPath);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }
}