.slide{
  &__img {
    width: 100vw;
    height: 70vh;
    background-color: lightpink;
  }
  &__navi {
    width: 100vw;
    border-radius: 33px;
    margin: 0 auto;
    &-ul {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin: 0 auto;
      width: calc(100% - 20px);
    }
    &-li {
      display: flex;
      align-items: center;
      margin-top: 10px;
      padding: 10px 10px;
      width: calc(50% - 10px);
      height: auto;
      background-color: $naviBGC;
      border-radius: 10px;
      // background-color: rgb(2,198,199);
      white-space: nowrap;
  
  
      &-icon {
        display: block;
        margin-right: .5rem;
        width: 45px;
        height: 45px;
      }
      
      & a {
        // margin-left: 1rem;
        cursor: pointer;
        text-decoration: none;
        color: $naviFC;
        font-size: $naviFS;
      }
  
  
      &:nth-child(1) {
        @include iconsStyle("../../icons/first-mark-0.png")
      }
      &:nth-child(2) {
          @include iconsStyle("../../icons/saisin0.png")
      }
      &:nth-child(3){
        @include iconsStyle("../../icons/nyuuin0.png")
      }
      &:nth-child(4){
        @include iconsStyle("../../icons/omimai-0.png")
      }
      &:nth-child(5){
        @include iconsStyle("../../icons/karte-0.png")
      }
      &:nth-child(6){
        @include iconsStyle("../../icons/map.png")
      }
    }
  }

  &__right-navi{
    margin: 0 auto;
    padding: 10px 0;
    width: 100vw;
    // width: calc(40vw - 20px);
    // background-color: $cWhite;
    font-size: .8rem;

    &-wrap {
      display: flex;
      margin: 0 auto;
      width: calc(100% - 20px);
      border: 2px solid $cPink;
      border-radius: 10px;
    }

    &-ul{
      display: flex;
      flex-direction: column;
      padding: 12px;
    }

    &-title {
      display: flex;
      align-items: center;
      justify-content: center;
      min-width: 54px;
      color: $cWhite;
      background-color: $cPink;
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
      border-top-right-radius:7px;
      border-bottom-right-radius: 7px;
      white-space: wrap;
    }
    
    &-li {
      padding-left: 10px;
      &:nth-child(n + 2){
        margin-top: 12px;
      }

      & a {
        display: flex;
        line-height: 1.2;
        color: $cPink;
        font-size: .7rem;


        time {
          margin-right: .5rem;
        }
      }
    }
  }
  
  &__reception {
    margin: 10px 10px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid $cGray;
    &-list{
      display: flex;
      flex-wrap: wrap;
    }

    &-title {
      font-weight: bold;
      margin-right: 1rem;
    }

    &-content{
      line-height: 1.7;
    }

    &-comment {
      margin-top: 10px;
      color: $cRed;
    }
  }

  &__right-link{
    display: flex;
    justify-content: space-between;

    &-item {
      margin-top: 10px;
      padding: 10px 20px;
      width: 40%;
      border-radius: 30px;
      background-color: $cAqua;

      & a {
        color: $cBlack;
        font-weight: bold;
      }
    }
  }
}
      

