// ヘッダーのスタイル
$headerHeight: 80px;


// ナビのスタイル
$naviFC: rgb(248,248,248);
$naviFS: 0.7rem;
$naviBGC: rgb(105, 231, 240);

// 共通で使用する色
$cBlack: rgb(58, 57, 57);
$cGray: rgb(210, 209, 209);
$cWhite: rgb(248,248,248);
$cPink: rgb(252,138,138);
$cRed: rgb(238, 25, 25);
$cAqua: rgb(106, 213, 239);

$borderGray: 1px solid $cGray;