// ヘッダーのスタイル
$headerHeight: 80px;


// ナビのスタイル
$naviFC: rgb(248,248,248);
$naviFS: 0.7rem;
$naviBGC: rgb(105, 231, 240);

// 共通で使用する色
$cBlack: rgb(58, 57, 57);
$cGray: rgb(210, 209, 209);
$cWhite: rgb(248,248,248);
$cPink: rgb(252,138,138);
$cRed: rgb(238, 25, 25);
$cAqua: rgb(106, 213, 239);
$cBlue: rgb(76, 138, 240);

$borderGray: 1px solid $cGray;


// $msNaviBGC1:
// $msNaviBGC2:
// $msNaviBGC3:
// $msNaviBGC4:
// $msNaviBGC5:

$msNaviLiBGC1: #2b7ee0;
$msNaviLiBGC2: #41c392;
$msNaviLiBGC3: #FF9A80;
$msNaviLiBGC4: #997FD2;
$msNaviLiBGC5: #ed903d;
$naviOrange: rgb(255, 153, 70);