.slide-container{
  &__img {}
  &__nav {
    width: calc(100vw - 40px);
    // height: ;
    border-radius: 33px;
    margin: 0 auto;
  }
  &__ul {
    display: flex;
    flex-wrap: wrap;
    // justify-content: center;
    width: 100%;
    // &:nth-child(1) {
    //   background-color: red;
    //   &::before {
    //     background-image: url('../../icons/first-mark3.png');
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //   }
    // }
  }
  &__li {
    position:relative;
    width: 50%;
    height: 3rem;
    text-align: center;
    &:nth-child(1) {
        background-image: url('../../icons/first-mark3.png');
        background-repeat: no-repeat;
        background-size: contain;
    }

    &-icon {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        content: "";
        width: 30px;
        height: 30px;
      }
      
    }

    & a {
      margin-top: 30px;
      cursor: pointer;
      text-decoration: none;
      color: #000;
    }
  }
}
      

@mixin iconsStyle ($imgPath) {
  background-image: url($imgPath);
  background-repeat: no-repeat;
  background-size: contain;
}