/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  width: 100%;
  height: 80px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgb(210, 209, 209);
  border-bottom: 1px solid rgb(210, 209, 209);
}
.header-nav__title {
  width: 25%;
  color: rgb(58, 57, 57);
}
.header-nav__ul {
  display: flex;
  align-items: center;
  justify-self: space-around;
  width: 75%;
  height: 100%;
  background-color: white;
}
.header-nav__li {
  width: 25%;
  height: 100%;
  text-align: center;
  line-height: 80px;
  border-left: 1px solid rgb(210, 209, 209);
  cursor: pointer;
  transition: all 0.5s;
}
.header-nav__li:last-child {
  border-right: 1px solid rgb(210, 209, 209);
}
.header-nav__li a {
  color: rgb(58, 57, 57);
}
.header-nav__li:hover {
  background-color: rgb(210, 209, 209);
}
.header-nav__contact {
  width: 25%;
  height: 100%;
}

.mobile-menu {
  width: 100%;
  height: 1000px;
  background-color: rgba(255, 0, 0, 0.5);
  position: fixed;
  z-index: 9;
  display: none;
}

.slide__img {
  width: 100vw;
  height: 70vh;
  background-color: lightpink;
}
.slide__navi {
  width: 100vw;
  border-radius: 33px;
  margin: 0 auto;
}
.slide__navi-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: calc(100% - 20px);
}
.slide__navi-li {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 10px;
  width: calc(50% - 10px);
  height: auto;
  background-color: rgb(105, 231, 240);
  border-radius: 10px;
  white-space: nowrap;
}
.slide__navi-li-icon {
  display: block;
  margin-right: 0.5rem;
  width: 45px;
  height: 45px;
}
.slide__navi-li a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(248, 248, 248);
  font-size: 0.7rem;
}
.slide__navi-li:nth-child(1) .slide__navi-li-icon {
  display: block;
  background-image: url("../../icons/first-mark-0.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slide__navi-li:nth-child(2) .slide__navi-li-icon {
  display: block;
  background-image: url("../../icons/saisin0.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slide__navi-li:nth-child(3) .slide__navi-li-icon {
  display: block;
  background-image: url("../../icons/nyuuin0.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slide__navi-li:nth-child(4) .slide__navi-li-icon {
  display: block;
  background-image: url("../../icons/omimai-0.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slide__navi-li:nth-child(5) .slide__navi-li-icon {
  display: block;
  background-image: url("../../icons/karte-0.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slide__navi-li:nth-child(6) .slide__navi-li-icon {
  display: block;
  background-image: url("../../icons/map.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slide__right-navi {
  margin: 0 auto;
  padding: 10px 0;
  width: 100vw;
  font-size: 0.8rem;
}
.slide__right-navi-wrap {
  display: flex;
  margin: 0 auto;
  width: calc(100% - 20px);
  border: 2px solid rgb(252, 138, 138);
  border-radius: 10px;
}
.slide__right-navi-ul {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.slide__right-navi-title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 54px;
  color: rgb(248, 248, 248);
  background-color: rgb(252, 138, 138);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  white-space: wrap;
}
.slide__right-navi-li {
  padding-left: 10px;
}
.slide__right-navi-li:nth-child(n+2) {
  margin-top: 12px;
}
.slide__right-navi-li a {
  display: flex;
  line-height: 1.2;
  color: rgb(252, 138, 138);
  font-size: 0.7rem;
}
.slide__right-navi-li a time {
  margin-right: 0.5rem;
}
.slide__reception {
  margin: 10px 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(210, 209, 209);
}
.slide__reception-list {
  display: flex;
  flex-wrap: wrap;
}
.slide__reception-title {
  font-weight: bold;
  margin-right: 1rem;
}
.slide__reception-content {
  line-height: 1.7;
}
.slide__reception-comment {
  margin-top: 10px;
  color: rgb(238, 25, 25);
}
.slide__right-link {
  display: flex;
  justify-content: space-between;
}
.slide__right-link-item {
  margin-top: 10px;
  padding: 10px 20px;
  width: 40%;
  border-radius: 30px;
  background-color: rgb(106, 213, 239);
}
.slide__right-link-item a {
  color: rgb(58, 57, 57);
  font-weight: bold;
}

@media (min-width: 960px) {
  .slide__item {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1100px;
  }
  .slide__item a {
    font-size: 1rem;
  }
  .slide__navi {
    max-width: 530px;
    padding: 20px;
    background-color: rgb(248, 248, 248);
  }
  .slide__navi-li {
    display: flex;
    justify-content: center;
  }
  .slide__navi-li a {
    width: 100px;
  }
  .slide__right-navi {
    max-width: 530px;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 3000px;
}/*# sourceMappingURL=style.css.map */