@import './vendors/_bootstrap-reboot';
@import './modules/mixin';
@import './modules/header';
@import './modules/sliderContainer';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  width: 100%;
  height: 3000px;
}

