@import url(./modules/sliderContainer.css);

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
body {
  width: 100%;
  height: 3000px;
}

.header {
  position: relative;
  width: 100%;
  height: 90vh;
  background-color: lightgray;
}

.header-nav {
  position: absolute;
  top : 1rem;
  left: 2.5vw;
  display: flex;
  justify-content: space-around;
  width: 95vw;
  height: 3rem;

  &__title{
    width: 25%;
    height: 100%;
    background-color: lightblue;
  }
  &__ul{
    display: flex;
    align-items: center;
    justify-self: space-around;
    width: 50%;
    height: 100%;
  }
  &__li{
    width: 25%;
    height: 100%;
    text-align: center;
    line-height: 3rem;
    vertical-align: middle;
  }
  &__contact{
    width: 25%;
    height: 100%;
  }
}

.mobile-menu {
  width: 100%;
  height: 1000px;
  background-color: rgba(255,0,0,0.5);
  position: fixed;
  z-index: 9;
  display: none;
}