@charset "UTF-8";
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.header {
  width: 100%;
  height: 80px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  border-top: 1px solid rgb(210, 209, 209);
  border-bottom: 1px solid rgb(210, 209, 209);
}
.header-nav__title {
  width: 25%;
  color: rgb(58, 57, 57);
}
.header-nav__ul {
  display: flex;
  align-items: center;
  justify-self: space-around;
  width: 75%;
  height: 100%;
  background-color: white;
}
.header-nav__li {
  width: 25%;
  height: 100%;
  text-align: center;
  line-height: 80px;
  border-left: 1px solid rgb(210, 209, 209);
  cursor: pointer;
  transition: all 0.5s;
}
.header-nav__li:last-child {
  border-right: 1px solid rgb(210, 209, 209);
}
.header-nav__li a {
  color: rgb(58, 57, 57);
}
.header-nav__li:hover {
  background-color: rgb(210, 209, 209);
}
.header-nav__contact {
  width: 25%;
  height: 100%;
}

.mobile-menu {
  width: 100%;
  height: 1000px;
  background-color: rgba(255, 0, 0, 0.5);
  position: fixed;
  z-index: 9;
  display: none;
}

.slide__img {
  width: 100vw;
  height: 70vh;
  background-color: lightpink;
}
.slide__item {
  margin-bottom: 25px;
}
.slide__navi {
  width: 100vw;
  border-radius: 33px;
  margin: 10px auto;
}
.slide__navi-ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0 auto;
  width: calc(100% - 20px);
}
.slide__navi-li {
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 10px 10px;
  width: calc(50% - 10px);
  height: auto;
  background-color: rgb(105, 231, 240);
  border-radius: 10px;
  border: 1px solid rgb(105, 231, 240);
  white-space: nowrap;
  transition: all 0.3s;
}
.slide__navi-li:hover {
  background-color: rgb(248, 248, 248);
}
.slide__navi-li:hover a {
  color: rgb(105, 231, 240);
}
.slide__navi-li-icon {
  display: block;
  margin-right: 0.5rem;
  width: 45px;
  height: 45px;
}
.slide__navi-li a {
  cursor: pointer;
  text-decoration: none;
  color: rgb(248, 248, 248);
  font-size: 0.7rem;
  font-weight: 500;
}
.slide__navi-li:nth-child(1) .slide__navi-li-icon {
  display: block;
  background-image: url("../../icons/first-mark-0.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slide__navi-li:nth-child(2) .slide__navi-li-icon {
  display: block;
  background-image: url("../../icons/saisin0.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slide__navi-li:nth-child(3) .slide__navi-li-icon {
  display: block;
  background-image: url("../../icons/nyuuin0.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slide__navi-li:nth-child(4) .slide__navi-li-icon {
  display: block;
  background-image: url("../../icons/omimai-0.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slide__navi-li:nth-child(5) .slide__navi-li-icon {
  display: block;
  background-image: url("../../icons/karte-0.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slide__navi-li:nth-child(6) .slide__navi-li-icon {
  display: block;
  background-image: url("../../icons/map.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.slide__right-navi {
  margin: 0 auto;
  padding: 10px 0;
  width: 100vw;
  font-size: 0.8rem;
}
.slide__right-navi-wrap {
  display: flex;
  margin: 0 auto;
  width: calc(100% - 20px);
  border: 2px solid rgb(252, 138, 138);
  border-radius: 10px;
}
.slide__right-navi-ul {
  display: flex;
  flex-direction: column;
  padding: 12px;
}
.slide__right-navi-title {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 54px;
  color: rgb(248, 248, 248);
  background-color: rgb(252, 138, 138);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
  white-space: wrap;
}
.slide__right-navi-li {
  padding-left: 10px;
}
.slide__right-navi-li:nth-child(n+2) {
  margin-top: 12px;
}
.slide__right-navi-li a {
  display: flex;
  line-height: 1.2;
  color: rgb(252, 138, 138);
  font-size: 0.7rem;
}
.slide__right-navi-li a time {
  margin-right: 0.5rem;
}
.slide__reception {
  margin: 10px 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(210, 209, 209);
}
.slide__reception-list {
  display: flex;
  flex-wrap: wrap;
}
.slide__reception-title {
  font-weight: bold;
  margin-right: 1rem;
}
.slide__reception-content {
  line-height: 1.7;
}
.slide__reception-comment {
  position: relative;
  padding-left: 1rem;
  margin-top: 10px;
  color: rgb(238, 25, 25);
}
.slide__reception-comment::before {
  content: "❇︎";
  position: absolute;
  top: 0;
  left: 0;
}
.slide__right-link {
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
}
.slide__right-link-item {
  position: relative;
  margin-top: 10px;
  padding: 10px 20px;
  width: 47%;
  border-radius: 30px;
  background-color: rgb(106, 213, 239);
  cursor: pointer;
  transition: all 0.3s;
}
.slide__right-link-item:hover {
  background-color: rgb(76, 138, 240);
}
.slide__right-link-item:hover a {
  color: rgb(248, 248, 248);
}
.slide__right-link-item a {
  color: rgb(58, 57, 57);
  font-weight: bold;
}
.slide__right-link-item::after {
  content: "\f0a9";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: rgb(248, 248, 248);
  top: 0;
  right: 5px;
  background-color: transplant;
  transform: translate(-50%, 60%);
}

.news {
  display: none;
}

.medical-aim__btn {
  position: relative;
  margin: 0 auto 20px;
  padding: 20px 80px;
  width: 80%;
  max-width: 480px;
  color: rgb(248, 248, 248);
  text-align: center;
  font-weight: bold;
  background-color: rgb(76, 138, 240);
  border-radius: 30px;
  transition: 0.3s;
}
.medical-aim__btn::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 30px;
  box-shadow: 0px 3px 5px gray;
}
.medical-aim__btn:hover {
  transform: translate(0, 3px);
}
.medical-aim__btn:hover::after {
  opacity: 0;
}
.medical-aim__btn-icon.hand {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate(50%, 30%);
  background-color: #fff;
  background-image: url("../../icons/hand1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
.medical-aim__btn-icon.arrow::after {
  display: inline-block;
  content: "\f0a9";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: rgb(248, 248, 248);
  top: 0;
  right: 0;
  transform: translate(-80%, 79%);
}
.medical-aim__item {
  margin-bottom: 30px;
  width: 100%;
}
.medical-aim__img {
  width: 100%;
  height: 40vh;
  background-color: lightgreen;
}
.medical-aim__navi {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: -30px auto 0;
  padding: 15px 0;
  width: calc(100% - 20px);
  background-color: rgb(248, 248, 248);
  border-radius: 10px;
}
.medical-aim__navi-title {
  position: relative;
  margin-bottom: 15px;
  font-weight: bold;
  line-height: 1.7;
}
.medical-aim__navi-title::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -10px;
  width: calc(100% + 20px);
  height: 2px;
}
.medical-aim__navi-ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.medical-aim__navi-ul > a {
  width: calc((100% - 39px) / 3);
}
.medical-aim__navi-li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0 30px 0;
  width: 100%;
  border-radius: 10px;
  line-height: 1.7;
  text-align: center;
  font-size: 0.8rem;
}
.medical-aim__navi-li:not(:last-child) {
  margin-right: 3px;
}
.medical-aim__navi-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.medical-aim__navi-icon::after {
  content: "\f0a9";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: rgb(248, 248, 248);
  top: 0;
  left: 50%;
}
.medical-aim .red .medical-aim__navi-title {
  color: rgb(238, 25, 25);
}
.medical-aim .red .medical-aim__navi-title::after {
  background-color: rgb(238, 25, 25);
}
.medical-aim .red .medical-aim__navi-li {
  border: 1px solid rgb(238, 25, 25);
}
.medical-aim .red .medical-aim__navi-li a {
  color: rgb(238, 25, 25);
}
.medical-aim .red .medical-aim__navi-icon {
  border: 1px solid rgb(238, 25, 25);
  background-color: rgb(238, 25, 25);
}
.medical-aim .blue .medical-aim__navi-title {
  color: rgb(76, 138, 240);
}
.medical-aim .blue .medical-aim__navi-title::after {
  background-color: rgb(76, 138, 240);
}
.medical-aim .blue .medical-aim__navi-li {
  border: 1px solid rgb(76, 138, 240);
}
.medical-aim .blue .medical-aim__navi-li a {
  color: rgb(76, 138, 240);
}
.medical-aim .blue .medical-aim__navi-icon {
  border: 1px solid rgb(76, 138, 240);
  background-color: rgb(76, 138, 240);
}

.medical-search__navi {
  width: 100%;
}
.medical-search__navi-item {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0 10px;
  width: 100vw;
  height: 25vh;
  margin-bottom: 3vh;
  cursor: pointer;
  transition: all 0.3s;
}
.medical-search__navi-item:nth-child(1) {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(146, 217, 240), rgb(18, 136, 245));
}
.medical-search__navi-item:nth-child(1) .medical-search__navi-li {
  width: calc(50% - 5px);
  border: 1px solid rgb(248, 248, 248);
}
.medical-search__navi-item:nth-child(1) .medical-search__navi-li {
  background-color: #2b7ee0;
}
.medical-search__navi-item:nth-child(2) {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(163, 234, 196), rgb(42, 186, 132));
}
.medical-search__navi-item:nth-child(2) .medical-search__navi-li {
  width: calc(33.3333333333% - 5px);
  border: 1px solid rgb(248, 248, 248);
}
.medical-search__navi-item:nth-child(2) .medical-search__navi-li {
  background-color: #41c392;
}
.medical-search__navi-item:nth-child(3) {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(252, 214, 191), rgb(255, 164, 145));
}
.medical-search__navi-item:nth-child(3) .medical-search__navi-li {
  width: calc(50% - 5px);
  border: 1px solid rgb(248, 248, 248);
}
.medical-search__navi-item:nth-child(3) .medical-search__navi-li {
  background-color: #FF9A80;
}
.medical-search__navi-item:nth-child(4) {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(234, 201, 237), rgb(145, 104, 250));
}
.medical-search__navi-item:nth-child(4) .medical-search__navi-li {
  width: calc(50% - 5px);
  border: 1px solid rgb(248, 248, 248);
}
.medical-search__navi-item:nth-child(4) .medical-search__navi-li {
  background-color: #997FD2;
}
.medical-search__navi-item:nth-child(5) {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, rgb(248, 217, 170), rgb(245, 188, 143));
}
.medical-search__navi-item:nth-child(5) .medical-search__navi-li {
  width: calc(25% - 5px);
  border: 1px solid rgb(248, 248, 248);
}
.medical-search__navi-item:nth-child(5) .medical-search__navi-li {
  background-color: #ed903d;
}
.medical-search__navi-item:hover {
  opacity: 0.7;
}
.medical-search__navi-body {
  display: flex;
  width: 100%;
  height: 20vh;
}
.medical-search__navi-img {
  margin-top: -10px;
  width: 60%;
  height: 100%;
  border-radius: 10px;
  background-color: rgb(76, 138, 240);
}
.medical-search__navi-title {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  width: 40%;
  height: 100%;
  font-size: 1.2rem;
  justify-content: center;
  color: rgb(248, 248, 248);
}
.medical-search__navi-sub-title {
  font-size: 0.7rem;
}
.medical-search__navi-ul {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  width: 100%;
}
.medical-search__navi-li {
  padding: 5px 0;
  text-align: center;
  border-radius: 20px;
  white-space: nowrap;
}
.medical-search__navi-li > a {
  font-size: 0.7rem;
  color: rgb(248, 248, 248);
}

.specialty__container {
  padding: 0 10px;
  width: 100%;
}
.specialty__title {
  margin-bottom: 10px;
  color: rgb(76, 138, 240);
  font-size: 1.5rem;
}
.specialty__ul {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.specialty__li {
  padding: 10px 0;
  border-top: 1px solid rgb(210, 209, 209);
}
.specialty__li:nth-child(1) .specialty__li-icon {
  background-image: url("../../icons/sp-navi-icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.specialty__li:nth-child(2) .specialty__li-icon {
  background-image: url("../../icons/sp-navi-icon2.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.specialty__li:last-child {
  border-bottom: 1px solid rgb(210, 209, 209);
}
.specialty__li-item {
  display: flex;
  width: 100%;
  align-items: center;
}
.specialty__li-icon {
  width: 50px;
  height: 50px;
}
.specialty__li-text {
  margin-left: 1rem;
  color: rgb(58, 57, 57);
  font-size: 1.4rem;
  font-weight: bold;
}
.specialty__li-sub-text {
  font-size: 0.8rem;
  font-weight: normal;
}

.introduction__container {
  width: 100%;
  background-color: rgb(238, 248, 254);
}
.introduction__container-title {
  padding: 20px 0 20px 10px;
  font-size: 1.5rem;
  color: rgb(76, 138, 240);
}
.introduction__ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.introduction__li {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  width: 45%;
  height: 85px;
  background-color: rgb(248, 248, 248);
  border-radius: 20px;
  transition: all 0.3s;
}
.introduction__li:hover {
  transform: translate(1px, 1px);
}
.introduction__li:hover::after {
  opacity: 0;
}
.introduction__li::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 20px;
  box-shadow: 2px 2px 3px rgb(210, 209, 209);
  transition: all 0.3s;
}
.introduction__li a {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.introduction__li-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  color: rgb(58, 57, 57);
  font-size: 1rem;
}
.introduction__li-icon {
  position: relative;
  display: block;
  width: 100%;
  height: 25px;
  background-color: rgb(106, 213, 239);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.introduction__li-icon::after {
  content: "\f0a9";
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 600;
  color: rgb(248, 248, 248);
  top: 0;
  left: 50%;
  transform: translate(-50%, 0%);
}

.recruit__container {
  padding: 0 10px;
  width: 100%;
  background-image: linear-gradient(to right, rgb(140, 140, 243), purple);
}
.recruit__title {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  background-color: blue;
  font-size: 3rem;
  color: rgb(248, 248, 248);
}
.recruit__sub-title {
  display: inline-block;
  width: 100%;
  background-color: red;
  font-size: 1.2rem;
  text-align: center;
}
@media (min-width: 960px) {
  .slide__item {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    max-width: 1100px;
  }
  .slide__item a {
    font-size: 1rem;
  }
  .slide__navi {
    max-width: 530px;
    padding: 20px;
    background-color: rgb(248, 248, 248);
  }
  .slide__navi-li {
    display: flex;
    justify-content: center;
  }
  .slide__navi-li a {
    width: 100px;
  }
  .slide__right-navi {
    max-width: 530px;
  }
  .medical-search__navi {
    display: flex;
    width: 100vw;
    height: 200px;
  }
  .medical-search__navi-item {
    width: 25vw;
  }
  .medical-search__navi-item:nth-child(1) .medical-search__navi-li {
    width: calc(100% - 5px);
    border: 1px solid rgb(248, 248, 248);
  }
  .medical-search__navi-item:nth-child(2) .medical-search__navi-li {
    width: calc(100% - 5px);
    border: 1px solid rgb(248, 248, 248);
  }
  .medical-search__navi-item:nth-child(3) .medical-search__navi-li {
    width: calc(100% - 5px);
    border: 1px solid rgb(248, 248, 248);
  }
  .medical-search__navi-item:nth-child(4) .medical-search__navi-li {
    width: calc(100% - 5px);
    border: 1px solid rgb(248, 248, 248);
  }
  .medical-search__navi-item:nth-child(5) .medical-search__navi-li {
    width: calc(50% - 5px);
    border: 1px solid rgb(248, 248, 248);
  }
  .medical-search__navi-body {
    flex-direction: column;
    width: 100%;
  }
  .medical-search__navi-img {
    width: 100%;
  }
  .medical-search__navi-title {
    width: 100%;
    text-align: center;
    margin: 0 auto;
    font-size: 1.4rem;
  }
  .medical-search__navi-sub-title {
    font-size: 1rem;
  }
  .medical-search__navi-ul {
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
  }
  .medical-search__navi-li {
    width: 100%;
    margin-bottom: 10px;
  }
  .medical-search__navi-li.harf {
    width: calc(50% - 5px) !important;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  width: 100%;
  height: 3000px;
}/*# sourceMappingURL=style.css.map */