@import './vendors/reset';
@import './modules/variables';
@import './modules/mixin';
@import './modules/header';
@import './modules/sliderContainer';
@import './modules/news';
@import './modules/medical-aim';
@import './modules/medical-search';
@import './modules/specialty';
@import './modules/introduction';
@import './modules/recruit';
@import './modules/footer';

@media (min-width: 600px) {
  @import "breakpoints/600up";
}
@media (min-width: 960px) {
  @import "breakpoints/960up";
}
@media (min-width: 1280px) {
  @import "breakpoints/1280up";
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
}
body {
  width: 100%;
  height: 3000px;
}

